button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	background: $color__background-button;
	padding: 1.4375em 2.1875em 1.4375em;
	border: 1px solid $color__border-button;
	border-radius: 5px;
	color: $color__brand-1;
	@include font-size(0.875);
	font-family: $font__black;
	line-height: 1.2;
	letter-spacing: .5px;
	text-align: center;
	text-transform: uppercase;
	-webkit-appearance: none;
	transition: background 0.25s;

	@include respond-to('1150') {
		@include font-size(1);
		padding: 0.8rem 1.75rem 0.9rem;
	}

	&:hover,
	&:active,
	&:focus {
		// background: $color__background-button-hover;
		background: darken($color__background-button, 5%);
	}

	&:hover,
	&:active {
		cursor: pointer;
	}

	&:focus {
		outline: 0;
	}

	// &:hover {
	// 	border-color: $color__border-button-hover;
	// }

	// &:active,
	// &:focus {
	// 	border-color: $color__border-button-focus;
	// }
}

.btn {
	@extend button;
	text-decoration: none;

	// &:hover {
	// 	color: #fff;
	// }

	&:visited,
	&:active,
	&:focus {
		color: $color__brand-1;
	}
}
