// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

#page {
  overflow-x: hidden;
}

#primary {
  // position: relative;


}

#content {
  background: #fff;
}

.main-content-wrapper {
  position: relative;
  z-index: 100;
  max-width: $max_content_width;
  @include margin-auto;
  @include padding-left-right;
  @include section-padding(2);
  text-align: left;
}

.content-wrapper {
  max-width: $max_content_width;
  margin-left: auto;
  margin-right: auto;
  @include padding-left-right;
  @include section-padding(2);
  text-align: center;
}