// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

#page {
  overflow-x: hidden;
}

#primary {
  position: relative;
  z-index: 50;
}

.hentry {

  ul {
    list-style-type: none;
    margin: 0;
    // padding: 0;

    li {
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 1.5rem;

      &:before {
        content: '\00BB';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.6em;
        margin-right: 2rem;
        line-height: 1;
        color: $color__brand-1;
      }
    }
  }

  ol {
    list-style-type: none;
    margin: 0;
    // padding: 0;

    li {
      counter-increment: list;
      list-style-type: none;
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 1.5rem;

      &:before {
        color: $color__brand-1;
        content: counter(list) ".";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

}

#content {
  background: #fff;
}

.main-content-wrapper {
  position: relative;
  z-index: 100;
  max-width: $max_content_width;
  @include margin-auto;
  @include padding-left-right;
  @include section-padding(2);
  text-align: left;
}

.content-wrapper {
  max-width: $max_content_width;
  margin-left: auto;
  margin-right: auto;
  @include padding-left-right;
  @include section-padding(2);
  text-align: center;
}

.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
  background: $color__brand-1 !important;
  border-left: 1px solid $color__brand-1;
  border-right: 1px solid $color__brand-1;
  border-top: 1px solid $color__brand-1;
  // border-left: 1px solid #efefef;
  // border-right: 1px solid #efefef;
  // border-top: 1px solid #efefef;
  // margin-top: -2px;
}