h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1.entry-title {
	font-family: $font__black;
	font-size: 1.5rem;
	color: $color__brand-3;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 0 1rem;
}

h2.section-title {
	@extend h1.entry-title;
	line-height: 1.3;
}

h3.section-sub-title {
	font-family: $font__med;
	font-size: 1.188rem;
	color: $color__brand-1;
	margin: 0 0 1.5rem;
	line-height: 1.3;
}