#masthead {
	position: relative;
	z-index: 100;

	.aux-nav-menu-toggle-container {
		position: relative;
		background: $color__brand-1;
		@include section-padding(1,0);
		@include padding-left-right;

		.aux-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.aux-tel-svg {

			@include respond-to('750') {
				display: none;
			}

			svg {
				display: block;
				width: 20px;
				height: 20px;
			}
		}

		.aux-tel {
			display: none;
			color: #ffffff;
			text-decoration: none;
			font-family: $font__light;

			@include respond-to('750') {
				display: block;
			}

		}
	}

	.branding-desktop-nav-container {
		background-color: #fff;
		position: relative;
	}

	.site-branding {
		position: relative;
	}

	.custom-logo-link {
		position: absolute;
		top: -2.5rem;
		left: 1.5rem;
		z-index: 200;

		@include respond-to('370') {
			top: -3rem;
		}
	}

	.custom-logo {
		width: 10.9375rem;

		@include respond-to('370') {
			width: 13.125rem;
		}
	}
}