#masthead {
	position: relative;
	z-index: 100;

	.aux-nav-menu-toggle-container {
		max-width: $max_content_width-xlg;
		@include margin-auto;
		@include padding-left-right;
		@include section-padding(1);
		position: relative;
		background: $color__brand-1;

		@include respond-to('2200') {
			// padding-bottom: .5rem;
		}

		.aux-container {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.aux-tel-svg {

			@include respond-to('750') {
				display: none;
			}

			svg {
				display: block;
				width: 20px;
				height: 20px;
			}
		}

		.aux-tel {
			display: none;
			color: #ffffff;
			text-decoration: none;
			font-family: $font__light;

			@include respond-to('750') {
				display: block;
			}

		}
	}

	.branding-desktop-nav-container {
		background-color: #fff;
		position: relative;

		padding-bottom: 3rem;

		@include respond-to('950') {
			padding-bottom: 0;
		}

		@include respond-to('2200') {
			// display: inline;
		}
	}

	.inner-wrapper {
		max-width: $max_content_width-xlg;
		@include margin-auto;
		@include padding-left-right;
	}

	.site-branding {
		position: relative;

		@include respond-to('750') {
			// padding-left: 2.5rem;
		}

		@include respond-to('950') {
			padding-top: 1rem;
		}
	}

	.custom-logo-link {
		position: absolute;
		top: -2.5rem;
		left: 0;
		z-index: 200;
		// margin-top: -2.5rem;

		@include respond-to('370') {
			top: -3rem;
		}

		@include respond-to('370') {
			// margin-top: -4rem;
		}
	}

	.custom-logo {
		width: 10.9375rem;  // 175px

		@include respond-to('370') {
			width: 13.125rem;  // 210px
		}

		@include respond-to('1150') {
			width: 14.0625rem;  // 225px
		}

		@include respond-to('1750') {
			width: 15.625rem;  // 250px
		}
	}
}