#front-page-icon {
	background-image: url('imgs/bolt-sm.jpg');
	background-repeat: repeat;
	// background-size: 50%;
	@include font-smooth;

	h2.section-title {
		color: $color__brand-2;
	}

	h3.section-sub-title {
		color: #fff;
	}

	.icon-container {

		img {
			width: 12.5rem;

			// &:hover {
			// 	-webkit-filter: grayscale(50%) brightness(120%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(0.7);
			// 	filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
			// }
		}

		h2.card-title {
			color: $color__brand-2;
			text-transform: capitalize;
			font-family: $font__reg;
			font-size: 1.313rem;
		}

		.card-desc {
			display: none;
			color: #fff;

			@include respond-to('950') {
				display: block;
			}
		}
	}


}