html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

.page-feature {
	color: #fff;
	width: 100%;
	height: 100%;
	// min-height: 200px;
	position: relative;
	margin: 0;
	z-index: 1;

	&:before {
		content: '';
		background-image: url('imgs/white-curve-down-lg.svg');
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		background-size: 100% auto;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	&:after {
		content: '';
		background-image: url('imgs/white-curve-up-lg.svg');
		background-size: 100% auto;
		background-position: 0 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		z-index: 10;
	}

	.feature-container {
		position: relative;
		z-index: 1;
	}

	figure {
		margin: 0;
		position: relative;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			background: rgba(0, 0, 0, 0.2);
		}
	}

	figcaption {
		width: 40em;
		max-width: 100%;
		@include margin-auto;
		display: block;
		position: relative;
		z-index: 500;
		@include font-size(2);
		@include section-padding(4);
		@include padding-left-right;
		font-family: $font__black;
		text-transform: uppercase;
		text-align: right;
		line-height: 1;

		@include respond-to('450') {
			@include section-padding(5);
		}

		@include respond-to('650') {
			@include section-padding(6);
		}

		@include respond-to('750') {
			@include section-padding(7);
		}

		@include respond-to('950') {
			width: 29.09090909090909em;
			@include font-size(2.75);
			@include section-padding(8);
		}

		@include respond-to('1150') {
			width: 21.333333333333332em;
			@include font-size(3.75);
			@include section-padding(9);
		}

		@include respond-to('1350') {
			@include section-padding(10);
		}

		@include respond-to('1550') {
			@include section-padding(11);
		}

		@include respond-to('1750') {
			@include section-padding(12);
		}

		&:after {
			content: '';
			background-image: url('imgs/icon-free-consultation.svg');
			width: 5.375rem;  // 86px
			height: 100%;
			position: absolute;
			bottom: -1rem;
			right: 1.5rem;
			z-index: 500;
			background-size: 100% auto;
			background-position: 0 100%;
			background-repeat: no-repeat;

			@include respond-to('950') {
				width: 9.375rem;  // 150px
			}
		}
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		object-fit: cover;
		font-family: 'object-fit: cover';
		width: 100%;
		height: 100%;
	}
}

@import "tables";