html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.page-feature {
	margin: 0;
	color: #fff;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	@include padding-left-right;
	padding-top: 3em;
	padding-bottom: 3em;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background: rgba(0,0,0,0.2);
	}

	figcaption {
		position: relative;
		z-index: 5;
		font-size: 2rem;
		font-family: $font__black;
		text-transform: uppercase;
		text-align: right;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		object-fit: cover;
		font-family: 'object-fit: cover';
		width: 100%;
		height: 100%;
	}
}

@import "tables";
