$color__brand-1: #092f8c;
$color__brand-2: #f9ce36;
$color__brand-3: #c02228;

$color__background-body: $color__brand-1;
$color__background-alt: #ebebeb;

$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;

$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #111;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;



$color__border-input: #ccc;
$color__border-abbr: #666;

$color__border-button: $color__brand-1;
$color__border-button-alt: $color__brand-2;
$color__background-button: transparent;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;