.page-template-page-industries {

	#industries {
		@include section-padding(2);

		.industry {
			margin-bottom: 2.5rem;
			text-align: center;

			@include respond-to('750') {
				display: flex;
			}

			.col-left {
				flex: 1 0 auto;
				margin-right: 2rem;
			}

			.col-right {
				flex: 1 1 auto;

				@include respond-to('750') {
					text-align: left;
				}
			}

			img {
				width: 177px;
				margin-bottom: 1rem;
			}
		}
	}
}