.page-template-page-rapidshare {

	.main-content-wrapper {
		max-width: $max_content_width-lg;

		.hentry {
			max-width: $max_content_width;
		}
	}

	#rapidshare {
		@include section-padding(0,3);

		@include respond-to('950') {
			display: flex;
		}

		.col-left {

			@include respond-to('950') {
				flex: 1;
				padding-right: 1rem;
			}
		}

		.col-right {

			@include respond-to('950') {
				flex: 2;
			}
		}

		h2 {
			color: $color__brand-1;
			@include font-size(1.1875);
			line-height: 1.3;
			margin-bottom: .5rem;
		}

		h3 {
			color: $color__brand-1;
			@include font-size(1.375);
			margin: 0 0 .25rem;
		}

		ol {
			margin-bottom: 1rem;

			li {

				@include respond-to('950') {
					margin-bottom: .15rem;
				}
			}
		}

		figure {
			margin: 1.5rem 0;
			width: 100%;
			max-width: 36.0625rem;

			@include respond-to('950') {
				margin: 1.5rem 0 0;
			}
		}
	}
}