#aux-menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	a {
		color: $color__brand-2;
		text-decoration: none;
		font-family: $font__black;
		padding-left: .5rem;
		@include font-smooth;

		&:before {
			content: '\007C';
			color: #fff;
			padding-right: .5rem;
		}
	}
}

#mobile-nav-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: auto;
	background-color: $color__brand-1;
	letter-spacing: 1.5px;
	transform: translateX(-100%);
	transition: all 300ms ease-in-out 0ms;

	@include respond-to('950') {
		display: none;
	}

	&.open {
		transform: translateX(-20%);
		box-shadow:3px 3px 3px rgba(0, 0, 0, 0.5);

		@include respond-to('370') {
			transform: translateX(-30%);
		}
	}

	// Start here with the refactor

	> ul {
		display: flex;

		> li {
			margin-left: 1.5rem;

			> a {
				font-family: $font__med;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			max-height: 0;
			overflow: hidden;
			// box-shadow: 0 0 7px rgba(0, 0, 0, .6);
			transition: max-height .25s;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				padding-left: 35%;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
				background: $color__brand-1;
				color: #fff;
			}

			.current_page_item,
			.current-menu-item {
				a:hover,
				a.focus {
					background: #FFF;
					color: $color__brand-3;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: #fff;
		font-family: $font__med;
		text-transform: uppcase;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		padding: 1rem 3.5rem 1rem 30%;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__brand-3;
	}
}

.menu-toggle {
	display: block;
	width: 30px;
	height: 28px;
	// padding: 0 0 2.5rem;
	padding: 0;
	position: relative;
	border: none;
	outline: 0;
	background: transparent;
	line-height: 1;
	margin-top: 1rem;
	margin-left: auto;

	@include respond-to('950') {
		display: none;
	}

	&:hover {
		cursor: pointer;
		background: none;
	}

	&:active,
	&:focus {
		outline: 1px dotted $color__brand-2
	}

	&:before,
	.inner:after,
	.inner:before {
		content: '';
		display: inline-block;
		background-color: #fff;
		height: 4px;
		width: 30px;
		position: absolute;
		top: 0;
		right: 0;
		transition: transform .125s, top .5s, opacity .25s;
		transform-origin: center center;
	}

	.inner:before {
		top: 11px;
	}

	.inner:after {
		top: 22px;
	}

	&.active {
		&:before {
			transform: rotate(45deg);
			top: 10px;
		}

		.inner:before {
			opacity: 0;
		}

		.inner:after {
			transform: rotate(-45deg);
			top: 10px;
		}
	}

	@include respond-to('1150') {
		display: none;
	}
}

.toggle-sub-menu {
	position: absolute;
	right: 10px;
	top: 13px;
	bottom: 5px;
	padding: 0;
	width: 32px;
	height: 32px;
	background: none;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	line-height: 1;

	@include respond-to('950') {
		display: none;
	}

	&:after {
		content: '\00bb';
		display: block;
		font-size: 1.5rem;
		// transform: rotate(180deg);
		transition: transform 0.25s, margin-top 0.25s;
		color: #fff;
	}

	&.active:after {
		transform: rotate(90deg);
		// margin-top: -2px;
		// padding-top: 5px;
	}
}

.desktop-navigation {
	display: none;

	@include respond-to('950') {
		display: block;
	}

	.site-navigation {

		>ul {
			display: flex;

			>li {
				// margin-left: 1.5rem;

				>a {
					font-family: $font__med;
				}
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			ul {
				display: none;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					// padding-left: 35%;
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
					background: $color__brand-1;
					color: #000;
				}

				.current_page_item,
				.current-menu-item {
					a:hover,
					a.focus {
						background: #FFF;
						color: $color__brand-3;
					}
				}
			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}

		li {
			// position: relative;
			// flex: 1;

			&:hover > a,
			&.focus > a {
			}
		}

		a {
			display: inline-block;
			text-decoration: none;
			color: #000;
			font-family: $font__med;
			text-transform: uppcase;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			// padding: 1rem 3.5rem 1rem 30%;
		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__brand-3;
		}
	}


}

/* Social Media Menu */
.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 3rem;
  padding: 0;

  li {
    margin-right: 0.25rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    display: block;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-image: url(imgs/sprite-social-media-icons.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $color__brand-2;
    outline: 0;
    transition: background-color 0.25s, border-color 0.25s;

    &:hover,
    &:focus {
      background-color: darken($color__brand-3, 10%);
      // background-color: $color__brand-3;
      // border-color: $color__brand-1;
			color: #000;
    }
  }

  .tw a {
    background-position: 0 -32px;
  }

  .linked a {
    background-position: 0 -100px;
  }

  .goo a {
    background-position: 0 -66px;
  }

  .yt a {
    background-position: 0 -132px;
  }

  .pin a {
    background-position: 0 -165px;
  }

  .insta a {
    background-position: 0 -198px;
  }
}

/* Footer Menu */
#ftr-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;

	a {
		@extend .btn-alt;
		width: 180px;
		padding: 1rem;
		margin-bottom: 1rem;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
