#global-callout {
	background: $color__background-alt;
	position: relative;

	&:before {
		content: '';
		background-image: url('imgs/white-curve-down-lg.svg');
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		background-size: 100% auto;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	.content-wrapper {
		position: relative;
		max-width: 48.75em;  // 780px
		@include section-padding(5,3);

		@include respond-to('750') {
			padding-top: 6.5rem;
		}

		@include respond-to('950') {
			padding-top: 7.5rem;
		}
		@include respond-to('1150') {
			padding-top: 8.5rem;
		}
		@include respond-to('1350') {
			padding-top: 9.5rem;
		}
		@include respond-to('1750') {
			padding-top: 10.5rem;
		}
		@include respond-to('2100') {
			padding-top: 12rem;
		}
		@include respond-to('2400') {
			padding-top: 14rem;
		}

		img {
			position: absolute;
			top: -20%;
			left: 50%;
			transform: translate(-50%, 0);
			width: 175px;
			z-index: 100;

			@include respond-to('750') {
				top: -10%;
			}

			@include respond-to('950') {
				width: 230px;
				top: -15%;
			}
			@include respond-to('1150') {
				top: -10%;
			}
			@include respond-to('1350') {
				top: -5%;
			}
			@include respond-to('1750') {
				top: 0;
			}
			@include respond-to('2100') {
				top: 5%;
			}
			@include respond-to('2400') {
				top: 12%;
			}
		}
	}

	.btn {
		background: $color__brand-2;

		&:hover {
			background: $color__brand-1;
			color: #fff;
			border: 1px solid $color__brand-2;
		}
	}
}