#global-callout {
	background: $color__background-alt;

	.content-wrapper {
		position: relative;

		img {
			position: absolute;
			top: -30%;
			left: 50%;
			transform: translate(-50%, 0);
			width: 165px;

			@include respond-to('950') {
				width: 230px
			}
		}
	}

	.btn {
		background: $color__brand-2;
	}
}